exportPattern("^[[:alpha:]]+")
export(LFD)

import(rgdal)
import(sp)
import(ggplot2)
import(raster)
import(rgeos)
import(hms)
import(tibble)

importFrom("graphics", "box", "legend", "par", "points", "symbols")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("graphics", "plot.new", "polygon")
importFrom("grDevices", "dev.off", "heat.colors", "jpeg")
importFrom("vegan", "diversity", "specnumber")
importFrom("utils", "read.csv", "read.table")
importFrom("stats", "frequency")
importFrom("stats", "pt")
importFrom("utils", "type.convert")
